[Desktop Entry]
Name=packagekitqtexample
Name[bg]=packagekitqtexample
Name[bs]=packagekitqtexample
Name[ca]=packagekitqtexample
Name[ca@valencia]=packagekitqtexample
Name[cs]=packagekitqtexample
Name[da]=packagekitqtexample
Name[de]=packagekitqtexample
Name[el]=packagekitqtexample
Name[en_GB]=packagekitqtexample
Name[eo]=packagekitqtexample
Name[es]=packagekitqtexample
Name[et]=packagekitqtexample
Name[fi]=packagekitqtexample
Name[fr]=packagekitqtexample
Name[ga]=packagekitqtexample
Name[gl]=packagekitqtexample
Name[hu]=packagekitqtexample
Name[it]=packagekitqtexample
Name[ja]=packagekitqtexample
Name[kk]=packagekitqtexample
Name[km]=packagekitqtexample
Name[ko]=packagekitqtexample
Name[lt]=packagekitqtexample
Name[lv]=packagekitqtexample
Name[nb]=packagekitqtexample
Name[nds]=packagekitqtexample
Name[nl]=packagekitqtexample
Name[nn]=packagekitqtexample
Name[pa]=packagekitqtexample
Name[pl]=packagekitqtexample
Name[pt]=packagekitqtexample
Name[pt_BR]=packagekitqtexample
Name[ro]=packagekitqtexample
Name[ru]=packagekitqtexample
Name[sk]=packagekitqtexample
Name[sl]=packagekitqtexample
Name[sq]=packagekitqtexample
Name[sr]=packagekitqtexample
Name[sr@ijekavian]=packagekitqtexample
Name[sr@ijekavianlatin]=packagekitqtexample
Name[sr@latin]=packagekitqtexample
Name[sv]=packagekitqtexample
Name[tr]=packagekitqtexample
Name[ug]=packagekitqtexample
Name[uk]=packagekitqtexample
Name[x-test]=xxpackagekitqtexamplexx
Name[zh_CN]=packagekitqtexample
Name[zh_TW]=packagekitqtexample
Exec=packagekitqtexample
Icon=packagekitqtexample
Type=Application
X-DocPath=packagekitqtexample/index.html
GenericName=A Simple KDE Application
GenericName[bs]=Prosti KDE program
GenericName[ca]=Una aplicació senzilla pel KDE
GenericName[ca@valencia]=Una aplicació senzilla pel KDE
GenericName[cs]=Jednoduchá aplikace KDE
GenericName[da]=Et simpelt KDE-program
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[el]=Μια απλή εφαρμογή KDE
GenericName[en_GB]=A Simple KDE Application
GenericName[es]=Una aplicación sencilla para KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[ga]=Feidhmchlár Simplí KDE
GenericName[gl]=Programa de KDE sinxelo
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[it]=Una semplice applicazione di KDE
GenericName[kk]=Қарапайым KDE қолданбасы
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nb]=Et enkelt KDE4-program
GenericName[nl]=Een eenvoudige KDE-toepassing
GenericName[pa]=ਸਧਾਰਨ KDE ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples do KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Preprost program za KDE
GenericName[sr]=Једноставни КДЕ програм
GenericName[sr@ijekavian]=Једноставни КДЕ програм
GenericName[sr@ijekavianlatin]=Jednostavni KDE program
GenericName[sr@latin]=Jednostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[tr]=Baist bir KDE4 Uygulaması
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
